{% load static %}


<section id="restaurant-menu">
    <div class="container">
        <div class="section-title text-center">
            <h2>Меню</h2>
        </div>
        <div class="row">
            {% for cat in categories %}
                <div class="col-xs-12 col-sm-6">
                    <div class="menu-section">
                        <h2 class="menu-section-title">{{ cat.title }}</h2>
                        <div class="menu-item">
                            <div class="menu-item-name">Шашлик Тортелліні</div>
                            <div class="menu-item-price"> ₴9</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Смажені пельмені</div>
                            <div class="menu-item-price"> ₴7</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Дикий гриб Аранчіні</div>
                            <div class="menu-item-price"> ₴9</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Палички моцарели</div>
                            <div class="menu-item-price"> ₴10</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
