{% load static %}
<section>
    <div id="features" class="text-center">
        <div class="container">
            <div class="section-title">
                <h2>Наші акції</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="features-item">
                        <h3>Яловичина від шефу</h3>
                        <img src={% static "img/specials/1.jpg" %} class="img-responsive"
                             alt="">
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="features-item">
                        <h3>Шпинат та фенхель</h3>
                        <img src={% static "img/specials/2.jpg" %} class="img-responsive"
                             alt="">
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="features-item">
                        <h3>Гарбуз смажений</h3>
                        <img src={% static "img/specials/3.jpg" %} class="img-responsive"
                             alt="">
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
