<section id="team">
    <div class="container">
        <div id="row">
            <div class="col-md-6">
                <div class="col-md-10 col-md-offset-1">
                    <div class="section-title">
                        <h2>{{ team_text.title }}</h2>
                    </div>
                    <p>{{ team_text.description }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="team-img"><img src={{ team_text.photo.url }} alt="..."></div>
            </div>
        </div>
    </div>
</section>
