{% load static %}

<section>
    <div id="team">
        <div class="container">
            <div id="row">
                <div class="col-md-6">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="section-title">
                            <h2>Зустрічайте нашого шеф-кухаря</h2>
                        </div>
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та цілющий
                            фенхель.
                            Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель.
                            Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель. </p>
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та цілющий
                            фенхель.
                            Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-img"><img src="../static/img/chef.jpg" alt="..."></div>
                </div>
            </div>
        </div>
    </div>
</section>
