<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Густо</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <section>
        <!-- Favicons
            ================================================== -->
        {% load static %}

        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114"
              href="../static/img/apple-touch-icon-114x114.png">
    </section>

    <!-- Bootstrap -->
    <section>
        <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
        <link rel="stylesheet" type="text/css" href=
                {% static "fonts/font-awesome/css/font-awesome.css" %}>
    </section>
    <!-- Stylesheet
        ================================================== -->
    <section>
        <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
    </section>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span></button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#features" class="page-scroll">Спеціальні пропозиції</a></li>
                <li><a href="#about" class="page-scroll">Про нас</a></li>
                <li><a href="#restaurant-menu" class="page-scroll">Меню</a></li>
                <li><a href="#team" class="page-scroll">Шеф-кухар</a></li>
                <li><a href="#contact" class="page-scroll">Контакти</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- Header -->
<section>
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <h1>Густо</h1>
                            <p>Бронювання: (067) 123-45678</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
<!-- Features Section -->
<section>
    <div id="features" class="text-center">
        <div class="container">
            <div class="section-title">
                <h2>Наші акції</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="features-item">
                        <h3>Яловичина від шефу</h3>
                        <img src={% static "img/specials/1.jpg" %} class="img-responsive" alt="">
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та цілющий
                            фенхель.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="features-item">
                        <h3>Шпинат та фенхель</h3>
                        <img src={% static "img/specials/2.jpg" %} class="img-responsive" alt="">
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та цілющий
                            фенхель.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="features-item">
                        <h3>Гарбуз смажений</h3>
                        <img src={% static "img/specials/3.jpg" %} class="img-responsive" alt="">
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та цілющий
                            фенхель.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section>
    <div id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-6 about-img"></div>
                <div class="col-xs-12 col-md-3 col-md-offset-1">
                    <div class="about-text">
                        <div class="section-title">
                            <h2>Наша історія</h2>
                        </div>
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та цілющий
                            фенхель.
                            Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель. Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат
                            та
                            цілющий фенхель.</p>
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та цілющий
                            фенхель. Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат
                            та
                            цілющий фенхель.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Restaurant Menu Section -->
<section>
    <div id="restaurant-menu">
        <div class="container">
            <div class="section-title text-center">
                <h2>Меню</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="menu-section">
                        <h2 class="menu-section-title">Сніданки ти Стартери</h2>
                        <div class="menu-item">
                            <div class="menu-item-name">Шашлик Тортелліні</div>
                            <div class="menu-item-price"> ₴9</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Смажені пельмені</div>
                            <div class="menu-item-price"> ₴7</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Дикий гриб Аранчіні</div>
                            <div class="menu-item-price"> ₴9</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Палички моцарели</div>
                            <div class="menu-item-price"> ₴10</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="menu-section">
                        <h2 class="menu-section-title">Головні страви</h2>
                        <div class="menu-item">
                            <div class="menu-item-name">Фарширована курка</div>
                            <div class="menu-item-price"> ₴18</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Курячі та грибні макарони</div>
                            <div class="menu-item-price"> ₴20</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Яловича лазанья</div>
                            <div class="menu-item-price"> ₴14</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Курячі шпильки</div>
                            <div class="menu-item-price"> ₴19</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="menu-section">
                        <h2 class="menu-section-title">Вечері</h2>
                        <div class="menu-item">
                            <div class="menu-item-name">Кунжутно-імбирна яловичина</div>
                            <div class="menu-item-price"> ₴15</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Хрустка смажена курка</div>
                            <div class="menu-item-price"> ₴17</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Монгольські креветки та брокколі</div>
                            <div class="menu-item-price"> ₴18</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Гострий кокосовий лосось</div>
                            <div class="menu-item-price"> ₴20</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="menu-section">
                        <h2 class="menu-section-title">Десерти</h2>
                        <div class="menu-item">
                            <div class="menu-item-name">Шоколадно-грязьовий торт</div>
                            <div class="menu-item-price"> ₴11</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Терпкий бурбон-пекан</div>
                            <div class="menu-item-price"> ₴14</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Львівський листовий торт</div>
                            <div class="menu-item-price"> ₴15</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-item-name">Ванільний чізкейк</div>
                            <div class="menu-item-price"> ₴18</div>
                            <div class="menu-item-description"> Протягом цієї п'ятирічки в ґрунт
                                було
                                висаджено гарбуз, шпинат та цілющий фенхель.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Section -->
<section>
    <div id="gallery">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="gallery-item"><img src="../static/img/gallery/01.jpg"
                                                   class="img-responsive" alt=""></div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="gallery-item"><img src="../static/img/gallery/02.jpg"
                                                   class="img-responsive" alt=""></div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="gallery-item"><img src="../static/img/gallery/03.jpg"
                                                   class="img-responsive" alt=""></div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="gallery-item"><img src="../static/img/gallery/04.jpg"
                                                   class="img-responsive" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section -->
<section>
    <div id="team">
        <div class="container">
            <div id="row">
                <div class="col-md-6">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="section-title">
                            <h2>Зустрічайте нашого шеф-кухаря</h2>
                        </div>
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та цілющий
                            фенхель.
                            Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель.
                            Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель. </p>
                        <p>Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та цілющий
                            фенхель.
                            Протягом цієї п'ятирічки в ґрунт було висаджено гарбуз, шпинат та
                            цілющий
                            фенхель.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-img"><img src="../static/img/chef.jpg" alt="..."></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section>
    <div id="contact" class="text-center">
        <div class="container text-center">
            <div class="col-md-4">
                <h3>Бронювання</h3>
                <div class="contact-item">
                    <p>Телефонуйте</p>
                    <p>(067) 123-45678</p>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Адреса</h3>
                <div class="contact-item">
                    <p>Україна, м. Київ,</p>
                    <p>вул. Хрещатик, буд. 33</p>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Години роботи</h3>
                <div class="contact-item">
                    <p>ПН-ЧТ: 10:00 - 23:00</p>
                    <p>ПТ-НД: 11:00 - 02:00</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section-title text-center">
                <h3>Надішліть нам повідомлення</h3>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="name" class="form-control" placeholder="Ім'я"
                                       required="required">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" id="email" class="form-control"
                                       placeholder="Електронна пошта" required="required">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4"
                    placeholder="Повідомлення" required></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-custom btn-lg">Відправити повідомлення
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="footer">
        <div class="container text-center">
            <div class="col-md-6">
                <p>Написано <i class="fa fa-love"></i><a href="https://github.com/Pavlenkovv/Cafe/">Pavlenkovv</a>
                </p>
            </div>
            <div class="col-md-6">
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../static/js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/js/SmoothScroll.js"></script>
<script type="text/javascript" src="../static/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="../static/js/contact_me.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>
